<!doctype html>

  <div class="pageWrap"> <!-- start pageWrap -->
		<div class="header">  <!-- start header -->
      <div class="headerBox"> <!-- start headerBox -->
			<img src="assets/etsylogo.20150203215610.png">
      <div class="searchBarWrap">
        <%= form_tag etsy_search_path, method: 'get', :id => 'searchForm' do %>
          <%= text_field_tag 'search_query', 
                              params[:search_query], 
                              :class => "searchBox", 
                              :placeholder => 'Search for items or shops' %> 
        
          <%= submit_tag 'Search', :class => "squareButton" %> 
        <% end %> 
      </div> <!-- end searchBarWrap -->

      <div class="Browse">
        <a href="">
          <span class="spanOneBrowse">
            <span class="spanOneInner"> Browse</span><span class="spanTwoInner"></span>
          </span>
        </a>
      </div>
			<li><%= link_to "Home",      '#' %></li>
			<li><%= link_to "Favorites", '#' %></li>
			<li><%= link_to "You",       '#' %></li>
		  <li><%= link_to "Cart",      '#' %></li>
      </div> <!-- end headerBox -->
		</div> <!-- end header -->

  <div class="contentWrap"> <!-- start contentWrap -->
   <div class="mainContainer fix"> <!-- start mainContainer -->
    ::before
        <div class="sideBar"> <!-- start sideBar -->
		      <div class="sideBarSuggestions"> <!-- start sideBarSuggestions -->
            <h4 id="sideHeading">
  	 	  	  <ul>
  	 	        <li>testing sidebar</li>
  	 	        <li>testing sidebar</li>
  	 	        <li>testing sidebar</li>
  	 	        <li>testing sidebar</li>
  	 	        <li>testing sidebar</li>
  	 	        <li>testing sidebar</li>
  	 	  	  </ul>
  	 	    </div> <!-- end sideBarSuggestions -->
        
          <h3>refine your search:</h3>
           <div class="sideBarSearch"> <!-- start sideBarSearch -->
            <ul>
              <h4>sideBar</h4> 
              <li>testing sidebar</li>
              <li>testing sidebar</li>
              <li>testing sidebar</li>
              <li>testing sidebar</li>
              <li>testing sidebar</li>
              <li>testing sidebar</li>
            </ul>
          </div> <!-- end sideBarSearch -->
        </div> <!-- end sideBar -->
        
        <div class="col col9 col-last fix">
         ::before
        <div class="searchHeader"> <!-- begin searchHeader -->
        </div>  <!-- #do later end searchHeader -->
        <div id="showcase"> <!-- start showase-->
        <div class="listing item col col3"> <!-- start listing item col col3 -->
          <div class="adIndicator"><a href="#"></a></div> <!-- do later -->
          <% @results.each_slice(3) do |item1, item2, item3| %>
            <% if item1 == nil || item2 == nil || item3 == nil %>
              <% break %>
            <% end %>
          <a href= <%= item1['url'] %> class="imgWrap">
            <img src= <%= item1['Images'][0]['url_570xN'] %> alt= <%= item1['title'] %> >
          </a>
          <div class="listingDetail"> <!-- start listingDetail -->
            <div class="listingTitle fix"> <!-- start listingTitle -->
              ::before
              <a href= <%=item1['url'] %>> <%= item1['title'] %></a>
              ::after
            </div> <!-- end listingTitle -->
            <div class="listingInfo fix"> <!-- start listingInfo -->
              ::before 
              <div class="listingMaker"> <!-- start listingMaker -->
                <a href= <%= item1['Shop']['url'] %> > <%= item1['Shop']['shop_name'] %></a>  
              </div> <!-- end listingMaker -->
              <div class="listingPrice"> <!-- start listingPrice -->
                <span class="currencySymbol">$</span>
                <span class="currencyValue"> <%= item1['price'] %></span>
                <span class="currencyCode"> <%= item1['Shop']['currency_code'] %> </span>
              </div> <!-- end listingPrice -->
              ::after
            </div> <!-- end listingInfo -->
          </div> <!-- end listingDetail ###### hideLink goes after this--> 
        </div> <!-- end listing item col col3 --> 




        <div class="listing item col col3"> <!-- start listing item col col3 -->
          <div class="adIndicator"><a href="#"></a></div> <!-- do later -->
          <a href= <%= item2['url'] %> class="imgWrap">
            <img src= <%= item2['Images'][0]['url_570xN'] %> alt= <%= item2['title'] %> >
          </a>
          <div class="listingDetail"> <!-- start listingDetail -->
            <div class="listingTitle fix"> <!-- start listingTitle -->
              ::before
              <a href= <%=item2['url'] %>> <%= item2['title'] %></a>
              ::after
            </div> <!-- end listingTitle -->
            <div class="listingInfo fix"> <!-- start listingInfo -->
              ::before 
              <div class="listingMaker"> <!-- start listingMaker -->
                <a href= <%= item2['Shop']['url'] %> > <%= item2['Shop']['shop_name'] %></a>
              </div> <!-- end listingMaker -->
              <div class="listingPrice"> <!-- start listingPrice -->
                <span class="currencySymbol">$</span>
                <span class="currencyValue"> <%= item2['price'] %></span>
                <span class="currencyCode"> <%= item2['Shop']['currency_code'] %> </span>
              </div> <!-- end listingPrice -->
              ::after
            </div> <!-- end listingInfo -->
          </div> <!-- end listingDetail ###### hideLink goes after this--> 
        </div> <!-- end listing item col col3 -->



        <div class="listing item col col3 last-col"> <!-- start listing item col col3 -->
          <div class="adIndicator"><a href="#"></a></div> <!-- do later -->
          <a href= <%= item3['url'] %> class="imgWrap">
            <img src= <%= item3['Images'][0]['url_570xN'] %> alt= <%= item3['title'] %> >
          </a>
          <div class="listingDetail"> <!-- start listingDetail -->
            <div class="listingTitle fix"> <!-- start listingTitle -->
              ::before
              <a href= <%=item3['url'] %>> <%= item3['title'] %></a>
              ::after
            </div> <!-- end listingTitle -->
            <div class="listingInfo fix"> <!-- start listingInfo -->
              ::before 
              <div class="listingMaker"> <!-- start listingMaker -->
                <a href= <%= item3['Shop']['url'] %> > <%= item3['Shop']['shop_name'] %></a>          
              </div> <!-- end listingMaker -->
              <div class="listingPrice"> <!-- start listingPrice -->
                <span class="currencySymbol">$</span>
                <span class="currencyValue"> <%= item3['price'] %></span>
                <span class="currencyCode"> <%= item3['Shop']['currency_code'] %> </span>
              </div> <!-- end listingPrice -->
              ::after
            </div> <!-- end listingInfo -->
          </div> <!-- end listingDetail ###### hideLink goes after this--> 
          <% end %>
         <% end %> 
        </div> <!-- end listing item col col3 -->
        </div> <!-- end showase-->
    </div> <!-- end mainContainer -->
  </div> <!-- end contentWrap -->



    <div class="footer"> <!-- start footer -->
      <div class="footContainer"> <!-- start footContainer -->
        <div class="col-1-2"> <!-- start col-1-2 -->
          <div class="col"> <!-- Column one start -->
            <ul>
              <li class=""><h4>Turn Your Passion Into a Business</h4></li>
              <li><input type="submit" class="buttonFormat" value="Open a Shop" /></li>
              <li class=""><h4>Sell on Etsy</h4></li>
              <li class=""><a href="/sell/?ref=ftr">Open a Shop</a></li>
              <li><a href="https://blog.etsy.com/en/category/seller-handbook/?ref=ftr">Seller Handbook</a></li>
              <li><a href="/reader?ref=ftr">Etsy Credit Card Reader</a></li>
            </ul>
          </div> <!-- Column one end -->
          <div class="col"> <!-- Column two start -->
            <ul>
              <li class=""><h4>Join the Community</h4></li>
              <li><a href="/teams/?ref=ftr">Teams</a></li>
              <li><a href="/forums/?ref=ftr">Forums</a></li>
              <li><a href="/community/events/?ref=ftr">Upcoming Events</a></li>
              <li><a href="/affiliates?ref=ftr">Affiliates</a></li>
            </ul>
          </div> <!-- Column two end -->
        </div> <!-- end col-1-2 -->
        <div class="col-3"> <!-- start col-3 -->
          <div class="col"> <!-- Column three start -->
            <ul>
              <li class=""><h4>Discover and Shop</h4></li>
              <li><a href="/giftcards/?ref=ftr">Gift Cards</a></li>
              <li><a href="/blog/en/?ref=ftr">Blog</a></li>
              <li><a href="/pages/?ref=ftr">Tastemakers</a></li>
              <li><a href="/mobile/?ref=ftr">Mobile Apps</a></li>
              <li><a href="/registry/?ref=ftr">Gift Registries</a></li>
              <li><a href="/wholesale?ref=ftr">Wholesale</a></li>
            </ul>
          </div> <!-- Column three end -->
        </div> <!-- end col-3 -->
        <div class="col-4-5"> <!-- start col-4-5 -->
          <div class="col"> <!-- Column four start -->
            <ul>
              <li class=""><h4>Get to Know Us</h4></li>
              <li><a id="" href="/about/?ref=ftr">About</a></li>
              <li><a href="/careers/?ref=ftr">Careers</a></li>
              <li><a href="/press/?ref=ftr">Press</a></li>
              <li><a href="/developers/?ref=ftr">Developers</a></li>
            </ul>
          </div> <!-- Column four end -->
          <div class="col"> <!-- Column five start -->
            <ul>
              <li class=""><h4>Follow Etsy</h4></li>
              <li class="social fb"><a href="https://www.facebook.com/Etsy/">Facebook</a></li>
              <li class="social twitter"><a href="https://twitter.com/etsy/">Twitter</a></li>
              <li class="social pin"><a href="http://www.pinterest.com/etsy/">Pinterest</a></li>
              <li class="social instagram"><a href="http://instagram.com/etsy">Instagram</a></li>
            </ul>
          </div> <!-- Column five end -->
        </div> <!-- end col-4-5 -->
      </div> <!-- end footContainer -->
    </div> <!-- end footer -->
  </div> <!-- end pageWrap -->
