<!doctype html>

<header class="header"> <!-- start header -->
  <div class="containerHead"> <!-- start containerHead -->


    <div> <!-- start logoWrap --> 
      <div class="logo"> <!-- start etsyLogo --> 
        <a href="">
          <img src="assets/etsylogo.20150203215610.png">
        </a>
      </div> <!-- end etsyLogo -->
    </div> <!-- start logoWrap --> 


    <div class="search"> <!-- start searchBar --> 
      <%= form_tag etsy_search_path, method: 'get', 
                                     :items => 'searchForm', 
                                     :class => "searchBox clearfix" do %>
          <%= text_field_tag 'search_query', 
                              params[:search_query], 
                              :class => "searchBar",
                              :placeholder => 'Search for items or shops' %> 
        
          <%= submit_tag 'Search', :class => "squareButton" %> 
        <% end %> 
    </div> <!-- end searchBar -->


    <div class="browseWrap"> <!-- start browseWrap --> 
      <div class="browse clearfix"> <!-- start browse -->
        <a href="">
          <span>
            <span class="spanBrowse">Browse</span>
            <span class="spanDropDown"></span>
        </span>
        </a> 
      </div> <!-- end browse -->
    </div> <!-- end bowseWrap --> 



    <div class="navigation clearfix"> <!-- start navigation -->
        <li> 
          <%= link_to "Cart",      '#' %>
        </li> 
        <li> <%= link_to "You",       '#' %> </li>
        <li> <%= link_to "Favorites", '#' %> </li>
        <li> 
          <div class="icon">
            <div class="home"></div>
            <div class="chimney"></div>
          </div>
          <%= link_to "Home",      '#' %> 
        </li>
    </div> <!-- end navigtion -->

  </div>  <!-- end containerHead -->
</header> <!-- end header -->



<div class="content"> <!-- start content -->
  <div class="containerContent"> <!-- start continerContent -->

    <div class="sideBar clearfix"> <!-- start sideBar -->
      <h3>Show results for:</h3>
      <div class="topSideBar clearfix"> <!-- start topSideBar -->
        <ul>
          <span>All Categories</span>
          <li><a href="">Home & Living</a></li>
          <li><a href="">Art & Collectibles</a></li>
          <li><a href="">Weddings</a></li>
          <li><a href="">Craft Supplies & Tools</a></li>
          <li><a href="">Accessories</a></li>
          <li><a href="">Jewelry</a></li>
          <li><a href="">Clothing</a></li>
          <li><a href="">Paper Goods & Party Supplies</a></li>
          <li><a href="">Bags & Purses</a></li>
          <li><a href="">Bath & Beauty</a></li>
          <li><a href="">Shoes</a></li>
          <li><a href="">Electronics & Accessories</a></li>
          <li><a href="">Books, Movies & Music</a></li>
          <li><a href="">Pet Supplies</a></li>
          <li><a href="">Toys & Games</a></li>
        </ul>
      </div> <!-- end topSideBar -->
      <h3>Refine your search</h3>
      <div class="bottomSideBar"> <!-- start bottomSideBar -->
        <ul>
          <span>Item Type</span>
          <li>testing list</li>
          <li>testing list</li>
          <li>testing list</li>
          <li>testing list</li>
          <li>testing list</li>
        </ul>
      </div> <!-- end bottomSideBar -->
    </div> <!-- end sideBar -->

    <h4>All Categories  “whiskey” (20,497 Results)</h4>
    <div class="itemWrap"> <!-- start itemWrap -->
      <% if @results %>
        <% @results.each do |item| %>
          <div class="item"> <!-- start item -->
            <div class="picture"> <!-- start picture -->
              <a href= <%= item['url'] %> >
                <img src= <%= item['Images'][0]['url_570xN'] %> alt= <%= item['title'] %> >
              </a>
            </div> <!-- end picture -->
              <table> <!-- start table -->
                <thead>
                  <tr>
                    <th class="tableHead clearfix"> 
                      <a href= <%=item['url'] %> > <%= item['title'] %> </a>
                    </th>
                  </tr>
                </thead>
                <tbody class="clearfix">
                  <tr class="tableBody clearfix">
                    <td><a href= <%= item['Shop']['url'] %> > <%= item['Shop']['shop_name'] %></a></td>
                    <td class="clearfix">
                      <span> $ </span>
                      <span> <%= item['price'] %> "&nbsp;"</span>
                      <span> <%= item['Shop']['currency_code'] %> "&nbsp;"</span>
                    </td>
                  </tr>
                </tbody>
              </table> <!-- end table -->
            </div> <!-- end item -->
        <% end %>
      <% end %>
    </div> <!-- end itemWrap -->
  </div> <!-- end containerContent -->
</div> <!-- end content -->


<footer class="footer"> <!-- start footer -->
  <div class="containerFooter"> <!-- start continerFooter -->
    <div class="col-1-2"> <!-- start col-1-2 -->
      <div class="col"> <!-- Column one start -->
        <ul>
          <li class=""><h4>Turn Your Passion Into a Business</h4></li>
          <li><input type="submit" class="buttonFormat" value="Open a Shop" /></li>
          <li class=""><h4>Sell on Etsy</h4></li>
          <li class=""><a href="/sell/?ref=ftr">Open a Shop</a></li>
          <li><a href="https://blog.etsy.com/en/category/seller-handbook/?ref=ftr">Seller Handbook</a></li>
          <li><a href="/reader?ref=ftr">Etsy Credit Card Reader</a></li>
        </ul>
      </div> <!-- Column one end -->
      <div class="col"> <!-- Column two start -->
        <ul>
          <li class=""><h4>Join the Community</h4></li>
          <li><a href="/teams/?ref=ftr">Teams</a></li>
          <li><a href="/forums/?ref=ftr">Forums</a></li>
          <li><a href="/community/events/?ref=ftr">Upcoming Events</a></li>
          <li><a href="/affiliates?ref=ftr">Affiliates</a></li>
        </ul>
      </div> <!-- Column two end -->
    </div> <!-- end col-1-2 -->
    <div class="col-3"> <!-- start col-3 -->
      <div class="col"> <!-- Column three start -->
        <ul>
          <li class=""><h4>Discover and Shop</h4></li>
          <li><a href="/giftcards/?ref=ftr">Gift Cards</a></li>
          <li><a href="/blog/en/?ref=ftr">Blog</a></li>
          <li><a href="/pages/?ref=ftr">Tastemakers</a></li>
          <li><a href="/mobile/?ref=ftr">Mobile Apps</a></li>
          <li><a href="/registry/?ref=ftr">Gift Registries</a></li>
          <li><a href="/wholesale?ref=ftr">Wholesale</a></li>
        </ul>
      </div> <!-- Column three end -->
    </div> <!-- end col-3 -->
    <div class="col-4-5"> <!-- start col-4-5 -->
      <div class="col"> <!-- Column four start -->
        <ul>
          <li class=""><h4>Get to Know Us</h4></li>
          <li><a id="" href="/about/?ref=ftr">About</a></li>
          <li><a href="/careers/?ref=ftr">Careers</a></li>
          <li><a href="/press/?ref=ftr">Press</a></li>
          <li><a href="/developers/?ref=ftr">Developers</a></li>
        </ul>
      </div> <!-- Column four end -->
      <div class="col"> <!-- Column five start -->
        <ul>
          <li class=""><h4>Follow Etsy</h4></li>
          <li class="social fb"><a href="https://www.facebook.com/Etsy/">Facebook</a></li>
          <li class="social twitter"><a href="https://twitter.com/etsy/">Twitter</a></li>
          <li class="social pin"><a href="http://www.pinterest.com/etsy/">Pinterest</a></li>
          <li class="social instagram"><a href="http://instagram.com/etsy">Instagram</a></li>
        </ul>
      </div> <!-- Column five end -->
    </div> <!-- end col-4-5 -->
  </div> <!-- end containerFooter -->
  

  <div class="midFooter"> <!-- start topFooter --> 
    <ul class="listFooter">
      <li>
        <a href="">
          <span>
            United States
          </span>
        </a>
      </li>
      <li>
        <a href="">
          English (US)
        </a>
      </li>
      <li>
        <a href="">
          <span>$</span><span>USD</span>
        </a>
      </li>
      <a class="helpButton" href="">Help</a>
    </ul> 
  </div> <!-- end midFooter -->






</footer> <!-- end footer -->









